* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #f2a340;
    border: 2px solid #c28008;
}

.btn-primary:hover {
    background-color: #c28008;
    border-color: #c28008;
}

.msg {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.msg_error {
    background-color: #DA6C6C;
    color: #fff;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#event-create-container {
    padding: 30px;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 12px;
}

/* Event Page */

#image-container,
#info-container {

    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container h3,
#description-container h3 {    
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon {
    font-size: 20px;
    color: #f2a340;
    margin-right: 5px;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container #event-submit {
    margin: 20px 0;
}

#items-list {
    list-style: none;
    padding-left: 0;
}

.dashboard-events-container form {
    display: inline-block;
}

#items-list li {
    display: flex;
}


/* Preview IMG */
.img-preview {
    width: 100px;
    margin-top: 20px;
}


footer {
    background: #ffab62;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0d6efd;
    color: #fff;
    padding: 20px 0 0 0;
    text-align: center
}

label{
    padding: 5px;
}

.form-group{
    padding: 3px;
}

/*Loading*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {

    width: 80px;
    height: 80px;
}

.loader::after {
    content: "";
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 6px solid #551794;
    border-color: #551794 transparent #551794 transparent;
    margin: 8px;
    animation: spin 1.2s ease infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*div titulo eventos*/

.div-title {
    text-align: center;
    padding: 20px 50px 20px 50px;
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    -moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    border-radius: 5px
}

.div-title:hover {
    text-align: center;
    padding: 20px 50px 20px 50px;    
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 39px 10px transparent;
    -moz-box-shadow: 0px 10px 39px 10px transparent;
    box-shadow: 0px 10px 39px 10px transparent;
    border: 1px solid #0d6efd;
}

.card {
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    -moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);

}

.card:hover {
    border: 1px solid #0d6efd;
    -webkit-box-shadow: 0px 10px 39px 10px transparent;
    -moz-box-shadow: 0px 10px 39px 10px transparent;
    box-shadow: 0px 10px 39px 10px transparent;

}